<a href="https://colab.research.google.com/github/vurachaitanya/API-pi/blob/master/Pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topics covered :
* Groupby operations
* Lambda Functions with groupby operations
* case study : Bank churning modelling
* Data Visulization using matplotlib and seabron

In [4]:
import pandas
#r= Raw String - only in windows we have/ but it interpreters as null or supression hence to convert we need to use this.
#b= Bites format - Convert into 
data=pandas.read_csv(r"https://www.stats.govt.nz/assets/Uploads/Electronic-card-transactions/Electronic-card-transactions-January-2020/Download-data/electronic-card-transactions-january-2020-csv.zip")
print(data.describe())
print(data.head());
data.columns

             Period    Data_value  ...  Series_title_4  Series_title_5
count  16621.000000  1.550000e+04  ...             0.0             0.0
mean    2010.283014  1.431928e+07  ...             NaN             NaN
std        5.415901  7.891689e+07  ...             NaN             NaN
min     2000.010000 -2.700000e+00  ...             NaN             NaN
25%     2006.030000  1.768750e+02  ...             NaN             NaN
50%     2010.090000  1.141900e+03  ...             NaN             NaN
75%     2015.050000  3.978925e+03  ...             NaN             NaN
max     2020.010000  1.835450e+09  ...             NaN             NaN

[8 rows x 6 columns]
  Series_reference   Period  ...  Series_title_4  Series_title_5
0       ECTA.S19A1  2001.03  ...             NaN             NaN
1       ECTA.S19A1  2002.03  ...             NaN             NaN
2       ECTA.S19A1  2003.03  ...             NaN             NaN
3       ECTA.S19A1  2004.03  ...             NaN             NaN
4       ECTA.S19A1  2005.03  ...             NaN             NaN

[5 rows x 14 columns]

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [6]:
data['Series_reference'].unique().size

137

In [7]:
data['Series_reference'].unique()

array(['ECTA.S19A1', 'ECTA.S19A2', 'ECTA.S19A9', 'ECTA.S19AW',
       'ECTA.S19AX', 'ECTA.S1GA1', 'ECTA.S1GA2', 'ECTA.S1GA3',
       'ECTA.S1GA4', 'ECTA.S1GA5', 'ECTA.S1GA6', 'ECTA.S1GA7',
       'ECTA.S1GA8', 'ECTA.S29A1', 'ECTA.S29A2', 'ECTA.S29A9',
       'ECTA.S29AW', 'ECTA.S29AX', 'ECTA.S4A1V', 'ECTA.S4A2V',
       'ECTA.S4A3N', 'ECTA.S4ACP', 'ECTA.S4ARP', 'ECTA.S4AWP',
       'ECTA.S4AXP', 'ECTM.S19A1', 'ECTM.S19A1AC', 'ECTM.S19A2',
       'ECTM.S19A2AC', 'ECTM.S19A9', 'ECTM.S19A9AC', 'ECTM.S19AW',
       'ECTM.S19AX', 'ECTM.S19S1', 'ECTM.S19S1PC', 'ECTM.S19S2',
       'ECTM.S19S2PC', 'ECTM.S19S9', 'ECTM.S19S9PC', 'ECTM.S19SW',
       'ECTM.S19SX', 'ECTM.S19T1', 'ECTM.S19T2', 'ECTM.S19T9',
       'ECTM.S19TW', 'ECTM.S19TX', 'ECTM.S1GA1', 'ECTM.S1GA2',
       'ECTM.S1GA3', 'ECTM.S1GA4', 'ECTM.S1GA5', 'ECTM.S1GA6',
       'ECTM.S1GA7', 'ECTM.S1GA8', 'ECTM.S1GS1', 'ECTM.S1GS2',
       'ECTM.S1GS3', 'ECTM.S1GS4', 'ECTM.S1GS5', 'ECTM.S1GS6',
       'ECTM.S1GS7', 'ECTM.S1GS8', 'ECTM.S1GT1', 'ECTM.S1GT2',
       'ECTM.S1GT3', 'ECTM.S1GT4', 'ECTM.S1GT5', 'ECTM.S1GT6',
       'ECTM.S1GT7', 'ECTM.S1GT8', 'ECTM.S29A1', 'ECTM.S29A2',
       'ECTM.S29A9', 'ECTM.S29AW', 'ECTM.S29AX', 'ECTM.S4A1V',
       'ECTM.S4ACP', 'ECTM.S4ARP', 'ECTM.S4AWP', 'ECTM.S4AXP',
       'ECTQ.S19A1', 'ECTQ.S19A1AC', 'ECTQ.S19A2', 'ECTQ.S19A2AC',
       'ECTQ.S19A9', 'ECTQ.S19A9AC', 'ECTQ.S19AW', 'ECTQ.S19AX',
       'ECTQ.S19S1', 'ECTQ.S19S1PC', 'ECTQ.S19S2', 'ECTQ.S19S2PC',
       'ECTQ.S19S9', 'ECTQ.S19S9PC', 'ECTQ.S19SW', 'ECTQ.S19SX',
       'ECTQ.S19T1', 'ECTQ.S19T2', 'ECTQ.S19T9', 'ECTQ.S19TW',
       'ECTQ.S19TX', 'ECTQ.S1GA1', 'ECTQ.S1GA2', 'ECTQ.S1GA3',
       'ECTQ.S1GA4', 'ECTQ.S1GA5', 'ECTQ.S1GA6', 'ECTQ.S1GA7',
       'ECTQ.S1GA8', 'ECTQ.S1GS1', 'ECTQ.S1GS2', 'ECTQ.S1GS3',
       'ECTQ.S1GS4', 'ECTQ.S1GS5', 'ECTQ.S1GS6', 'ECTQ.S1GS7',
       'ECTQ.S1GS8', 'ECTQ.S1GT1', 'ECTQ.S1GT2', 'ECTQ.S1GT3',
       'ECTQ.S1GT4', 'ECTQ.S1GT5', 'ECTQ.S1GT6', 'ECTQ.S1GT7',
       'ECTQ.S1GT8', 'ECTQ.S29A1', 'ECTQ.S29A2', 'ECTQ.S29A9',
       'ECTQ.S29AW', 'ECTQ.S29AX', 'ECTQ.S4A1V', 'ECTQ.S4A2V',
       'ECTQ.S4A3N', 'ECTQ.S4ACP', 'ECTQ.S4ARP', 'ECTQ.S4AWP',
       'ECTQ.S4AXP'], dtype=object)

In [36]:
#data['Series_reference'].unique()
a= data.groupby("STATUS") #['Series_reference'].size
a.count()

        Series_reference  Period  ...  Series_title_4  Series_title_5
STATUS                            ...
C                   1119    1119  ...               0               0
F                   7475    7475  ...               0               0
P                     14      14  ...               0               0
R                   8013    8013  ...               0               0

[4 rows x 13 columns]

In [66]:
data.head()
print(data['Data_value'].mean())
print(data['STATUS'].unique())
print(data['STATUS'].unique().size)
c=data.groupby(by='STATUS')['Data_value']
print(c.count())
c.value_counts()

14319279.741980689
['F' 'C' 'R' 'P']
4
STATUS
C       0
F    7473
P      14
R    8013
Name: Data_value, dtype: int64

STATUS  Data_value
F       5.7           20
        5.6           17
        6.4           17
        7.6           17
        57.4          17
                      ..
R       21834.5        1
        21910.8        1
        21935.5        1
        22060.1        1
        22074.1        1
Name: Data_value, Length: 12145, dtype: int64

In [70]:
c=data.groupby(by=['STATUS','UNITS'])['Data_value']
print(c.count())

STATUS  UNITS
C       Dollars       0
        Number        0
        Percent       0
F       Dollars    4212
        Number     1520
        Percent    1741
P       Dollars       7
        Number        7
R       Dollars    7172
        Number       22
        Percent     819
Name: Data_value, dtype: int64

In [71]:
c=data.groupby(['STATUS','UNITS'])['Data_value'] ## With out "by" operater
print(c.count())

STATUS  UNITS
C       Dollars       0
        Number        0
        Percent       0
F       Dollars    4212
        Number     1520
        Percent    1741
P       Dollars       7
        Number        7
R       Dollars    7172
        Number       22
        Percent     819
Name: Data_value, dtype: int64

# lambda Functions

In [72]:
import pandas
data=pandas.read_csv(r,"https://www.kaggle.com/aakash50897/churn-modellingcsv/download")
data.describe()

NameError: ignored