<a href="https://colab.research.google.com/github/vurachaitanya/API-pi/blob/master/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
def myfun(x):
  print("hellow world","Welcome to ",x)
  return(x) # Both print and Return can be used to output to the screen
myfun("chaitu")

hellow world Welcome to  chaitu

'chaitu'

In [0]:
def sum(a,b):
  # this is function defined
  c=a+b

  return c
sum(5,7)
sum.__doc__  # displays documentations

# Data types
# Control Structure
# Functions

# Save functions in another file
* save func into a file name call code6
* import code6 (It should be in the same folder)
* code6.myfun(7,4) to give sum of two objects
# numpy & scipy = Mathmatical computing with python
# pandas = data I/O, data handling and manipulation
# mathplotlib, seabron = data visulization
# sklearn = ML
# tensorflow, theano = ML & DL
# keras = DL

In [26]:
import os
import datetime
print(datetime.datetime.now())

2020-03-07 17:55:59.963853

In [29]:
import numpy
x=[4,6,8]
y=[5,4,9]
print(x+y)
a=numpy.array([4,6,8])
b=numpy.array([8,9,4])
print(a+b)

[4, 6, 8, 5, 4, 9]
[12 15 12]

# Pandas
*  r = Raw Data
* If data column dose not have any header **Syntax** = header=None
# Pandas Data Sets & data frame (type of data)
* Serise - 
* Data frame - 2d
* parllel - 3D
# Clearning the data
* temp/ currency should be show as int and city name should consider it as char
# numpy = n dimention array

In [42]:
import pandas
# r = Raw Data
data=pandas.read_csv(r"https://www.stats.govt.nz/assets/Uploads/Electronic-card-transactions/Electronic-card-transactions-January-2020/Download-data/electronic-card-transactions-january-2020-csv.zip")
print (data.shape) # no of rows and columns in a dataframe
print(data.columns) # to get the name of columns
# df=pandas.read_csv(r"C:\location\",header=None)
# print (data.columns=['sf','test']) # To add columns / headding to the columns
# Data cleaning 
df=pandas.read_csv(r"https://www.stats.govt.nz/assets/Uploads/Electronic-card-transactions/Electronic-card-transactions-January-2020/Download-data/electronic-card-transactions-january-2020-csv.zip",na_values="")
# To check missing values and sum of them
print(df.isnull().sum())
# to clean the missing values, remove if null or replace certain paramertes by mean median SD etc.

(16621, 14)
Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')
Series_reference        0
Period                  0
Data_value           1121
Suppressed          16621
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2          0
Series_title_3      13330
Series_title_4      16621
Series_title_5      16621
dtype: int64

In [58]:
import pandas
df=pandas.read_csv(r"https://www.stats.govt.nz/assets/Uploads/Electronic-card-transactions/Electronic-card-transactions-January-2020/Download-data/electronic-card-transactions-january-2020-csv.zip",na_values="")
###print(df.count)
#if in a row we are missing 3 valumes in a column drop the row
df.dropna(thresh=5,inplace=True)

# Place Mean if int and value is not present ...so fill with mean,median..only for integers
# if data is catagrical then you need to use , Mode(Most frequetly repeted value) (Ex: county, Gender, True false)
###print(df.fillna(df.mean(),inplace=True)) 
#df.replace('.',5,inplace=True) # replace all the "." with "5"
#EX: salary of an employ if not need to replace with min sal
df.head()
df.head(8) # first 8 rows
df.tail() # last 5 rows
df.tail(3)

      Series_reference   Period  ...  Series_title_4  Series_title_5
16616       ECTQ.S4AXP  2018.12  ...             NaN             NaN
16617       ECTQ.S4AXP  2019.03  ...             NaN             NaN
16618       ECTQ.S4AXP  2019.06  ...             NaN             NaN
16619       ECTQ.S4AXP  2019.09  ...             NaN             NaN
16620       ECTQ.S4AXP  2019.12  ...             NaN             NaN

[5 rows x 14 columns]

In [59]:
df['Period'].head()

0    2001.03
1    2002.03
2    2003.03
3    2004.03
4    2005.03
Name: Period, dtype: float64

In [60]:
df.Period.head() # if column headding has spaces can't be used this way

0    2001.03
1    2002.03
2    2003.03
3    2004.03
4    2005.03
Name: Period, dtype: float64

In [62]:
df.iloc[:,1]. # all the location in first column INDEXING

<bound method NDFrame.head of 0        2001.03
1        2002.03
2        2003.03
3        2004.03
4        2005.03
          ...
16616    2018.12
16617    2019.03
16618    2019.06
16619    2019.09
16620    2019.12
Name: Period, Length: 16621, dtype: float64>

In [63]:
df.Period.count()

16621

In [66]:
df['Data_value'][df['Data_value']<200].count()

4057

In [67]:
df['Data_value'][df['Data_value']>200].count()

11443

In [91]:
print(df.Data_value.fillna(df.Data_value.mean(),inplace=True))

None

In [90]:
print(df.Series_title_4.fillna(df.Series_title_4.mode,inplace=True))

None

# Statistical Analysis with Pandas

In [69]:
df.describe() # statistical summary of dataset

             Period    Data_value  ...  Series_title_4  Series_title_5
count  16621.000000  1.550000e+04  ...             0.0             0.0
mean    2010.283014  1.431928e+07  ...             NaN             NaN
std        5.415901  7.891689e+07  ...             NaN             NaN
min     2000.010000 -2.700000e+00  ...             NaN             NaN
25%     2006.030000  1.768750e+02  ...             NaN             NaN
50%     2010.090000  1.141900e+03  ...             NaN             NaN
75%     2015.050000  3.978925e+03  ...             NaN             NaN
max     2020.010000  1.835450e+09  ...             NaN             NaN

[8 rows x 6 columns]

In [76]:
df.Period[df.Period > 2006].mean()

2012.5529536266104

In [77]:
df.Period.sort_values(inplace=False)[19] # 19th Percentile value

2001.03

In [79]:
df.Data_value.mode()

0    0.7
dtype: float64

In [80]:
df.cov # Covariance Matrix

<bound method DataFrame.cov of       Series_reference   Period  ...  Series_title_4  Series_title_5
0           ECTA.S19A1  2001.03  ...             NaN             NaN
1           ECTA.S19A1  2002.03  ...             NaN             NaN
2           ECTA.S19A1  2003.03  ...             NaN             NaN
3           ECTA.S19A1  2004.03  ...             NaN             NaN
4           ECTA.S19A1  2005.03  ...             NaN             NaN
...                ...      ...  ...             ...             ...
16616       ECTQ.S4AXP  2018.12  ...             NaN             NaN
16617       ECTQ.S4AXP  2019.03  ...             NaN             NaN
16618       ECTQ.S4AXP  2019.06  ...             NaN             NaN
16619       ECTQ.S4AXP  2019.09  ...             NaN             NaN
16620       ECTQ.S4AXP  2019.12  ...             NaN             NaN

[16621 rows x 14 columns]>

In [81]:
df.corr() # Correlation Matrix

                  Period  Data_value  ...  Series_title_4  Series_title_5
Period          1.000000    0.059414  ...             NaN             NaN
Data_value      0.059414    1.000000  ...             NaN             NaN
Suppressed           NaN         NaN  ...             NaN             NaN
Magnitude       0.047815   -0.284261  ...             NaN             NaN
Series_title_4       NaN         NaN  ...             NaN             NaN
Series_title_5       NaN         NaN  ...             NaN             NaN

[6 rows x 6 columns]

In [82]:
df.skew()

Period            -0.042027
Data_value        11.481054
Suppressed              NaN
Magnitude         -0.871482
Series_title_4          NaN
Series_title_5          NaN
dtype: float64

In [83]:
df.kurt()

Period             -1.122496
Data_value        170.924632
Suppressed               NaN
Magnitude          -1.240669
Series_title_4           NaN
Series_title_5           NaN
dtype: float64

In [84]:
df.Data_value.min()

-2.7

In [85]:
df.Data_value.max()

1835450231.0